* {
  --dark-green: rgb(0, 88, 0);
  --translucent-green: rgba(0, 88, 0, 0.288);
  --white-border: 6px solid white;
  --green-border: 5px solid var(--dark-green);
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pacifico-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/pacifico-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#grid-container {
  min-height: 100vh;
  width: 100vw;
  min-width: 300px;
  display: grid;
  grid-template-rows: 2fr 1.1fr 1.25fr 10fr .85fr;
}

#header {
  grid-row: 1 / 2;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4em;
  font-family: "Pacifico";
}

#header:hover {
  cursor: pointer;
}

#function-bar {
  grid-row: 2 / 3;
  border-top: var(--white-border);
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

#project-bar {
  grid-row: 3 / 4;
  border-top: var(--white-border);
  border-bottom: var(--green-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-field {
  background: white;
  background-image: linear-gradient(var(--translucent-green) .1em, transparent .1em), linear-gradient(90deg, var(--translucent-green) .1em, transparent .1em);
  background-size: 4em 4em;
  grid-row: 4 / 5;
  border-bottom: var(--green-border);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  place-items: center;
}

#footer {
  grid-row: 5 / 6;
  background-color: var(--dark-green);
  border-top: var(--white-border);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 75px;
  height: 60px;
}

.github-link {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.github-link:hover {
  cursor: pointer;
}

.github-logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
}

.function:hover {
  cursor: pointer;
}

/* Project Styling */

.project {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  max-width: 60px;
}

.project:hover {
  cursor: pointer;
}

.projectImage {
  width: 25px;
  height: 25px;
}

.projectTitle {
  font-size: .7rem;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1000px) {
  #function-bar {
    font-size: 1.6rem;
  }
  #grid-container {
    grid-template-rows: 2fr 1.2fr 1.35fr 10fr .95fr;
  }
  .projectImage {
    width: 27.5px;
    height: 27.5px;
  }
  .projectTitle {
    font-size: .775rem;
  }
  .project {
    gap: 7.5px;
  }
}

/* Start Grid Queries */

@media (min-width: 1126px) {
  #header {
    height: 130px;
  }
  #function-bar {
    height: 57.5px;
  }
  #project-bar {
    height: 62.5px;
  }
  #grid-container {
    grid-template-rows: .5fr .2fr .25fr 3.75fr .25fr;
  }
}

@media (max-width: 1125px) {
  #header {
    height: 130px;
  }
  #function-bar {
    height: 57.5px;
  }
  #project-bar {
    height: 62.5px;
  }
  #grid-container {
    grid-template-rows: .5fr .2fr .25fr 3.75fr .25fr;
  }
}

@media (max-width: 675px) {
  #header {
    height: 120px;
  }
  #function-bar {
    height: 57.5px;
  }
  #project-bar {
    height: 62.5px;
  }
  #grid-container {
    grid-template-rows: .3fr .1fr .25fr 3.75fr .25fr;
  }
}

@media (max-width: 455px) {
  #header {
    height: 100px;
  }
  #function-bar {
    height: 50px;
  }
  #project-bar {
    height: 60px;
  }
  #grid-container {
    grid-template-rows: .2fr .1fr .2fr 2fr .15fr;
  }
  #footer {
    height: 60px;
    max-height: 75px;
  }
  #function-bar {
    font-size: 1.2rem;
  }
}

/* End Grid Queries */

@media (max-width: 575px) {
  #function-bar {
    font-size: 1.35rem;
  }
  .projectImage {
    width: 27.5px;
    height: 27.5px;
  }
  .projectTitle {
    font-size: .675rem;
  }
  .project {
    gap: 7.5px;
  }
}

/* End Project Styling */

/* Todo Screen Styling */

.todo {
  background-color: white;
  border-radius: 5%;
  border: 3px solid var(--dark-green);
  display: grid;
  grid-template-rows: 1fr 4fr;
  place-items: center;
  min-width: 175px;
  min-height: 225px;
  margin: 15px 0;
}

.todoTitle {
  font-family: "Roboto", sans-serif;
  grid-row: 1 / 2;
  background-color: var(--dark-green);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.55rem;
  height: 100%;
  width: 100%;
}

.todoText {
  font-family: "Roboto", sans-serif;
  grid-row: 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

/* End Todo Screen Styling */